.about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding: 50px 20px;
    background-color: #f5f5f5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .about-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
.about-image img {
  width: 250px;
  height: 300px;
  object-fit: contain;
  border-radius: 12px;
  display: block;
  max-width: 100%;
}


  
  .about-content {
    flex: 1;
    margin-left: 20px;
  }
  
  .about-content h2 {
    font-size: 36px;
    color: #333;
  }
  
  .about-content h3 {
    font-size: 28px;
    color: #555;
    margin-top: 10px;
  }
  
  .about-content p {
    margin: 20px 0;
    color: #666;
    line-height: 1.6;
  }
  
  .about-details {
    list-style: none;
    padding: 0;
    margin: 10px 0;
  }
  
  .about-details li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #444;
  }
  
  .about-details li strong {
    color: #333;
  }
  
  .resume-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #6c63ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .resume-btn:hover {
    background-color: #5145cd;
  }
  
